.nav__categorypage {
  width: 100%;
  height: 100%;
  border: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;
}

.categorypage__outbox {
  width: 80%;
  height: 100%;

  border: 1px solid red;
}

.categorypage__banner {
  border: 1px solid blue;
  height: 24rem;
  margin-bottom: 1rem;
}

.categorypage__listbox {
}
