.ptdetail__category {
  height: 3rem;
  padding: 0 1rem;

  display: flex;
  align-items: center;

  background-color: var(--color-yellow);
  border-radius: 20rem;

  font-size: var(--fontsize-medium);
  font-weight: var(--fontweight-semi-bold);
}
