.Editor__public {
  flex-shrink: 0;

  display: flex;
  align-items: center;

  font-size: var(--fontsize-semi-large);
  user-select: none;
}

.public__checkbox {
  display: none;
}

.public__slider,
.public__slider-onToggled {
  width: 4.2rem;
  height: 2rem;
  margin-right: 0.6rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  background-color: var(--color-red);
  border-radius: 50px;
  box-shadow: var(--shadow-small);

  transition: opacity 0.3s;
  cursor: pointer;
}

.public__slider:hover,
.public__slider-onToggled:hover {
  opacity: var(--opacity-medium);
}

.public__slider-item,
.public__slider-item-onToggled {
  width: 2rem;
  height: 2rem;

  position: relative;
  left: 0;

  background-color: var(--color-semi-white);
  border-radius: 50%;

  transition: all 0.3s;
}

.public__slider-onToggled {
  background-color: var(--color-green);
}

.public__slider-item-onToggled {
  transform: translate(2.2rem, 0);
}

.public__text {
  font-weight: var(--fontweight-semi-bold);

  cursor: pointer;
  transition: opacity 0.3s;
}

.public__text:hover {
  opacity: var(--opacity-medium);
}
