.editor {
  width: 90%;
  height: 90%;
  padding: 1rem;

  position: relative;

  display: flex;
  flex-direction: column;

  background-color: var(--color-sub);
  border-radius: var(--radius-semi-large);
}

.editor__header {
  flex-grow: 1;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
}

.editor__button {
  flex-shrink: 0;
  height: 3.2rem;
  padding: 0 1.2rem;

  display: flex;
  align-items: center;

  border-radius: var(--radius-medium);
  background-color: var(--color-point);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-semi-bold);
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}

.editor__button:hover {
  transform: scale(1.1);
  background-color: var(--color-point-alt);
}
