.editor {
  width: 90%;
  height: 90%;
  padding: 1rem;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--color-white);
  border-radius: var(--radius-semi-large);
}

.editor__header {
  flex-grow: 1;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
}

.editor__button {
  flex-shrink: 0;
  height: 3.2rem;
  padding: 0 1.2rem;

  display: flex;
  align-items: center;

  border-radius: var(--radius-medium);
  background-color: var(--color-green);
  box-shadow: var(--shadow-small);

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-semi-bold);

  cursor: pointer;
  user-select: none;
  transition: opacity 0.3s;
}

.editor__button:hover {
  opacity: var(--opacity-medium);
}
