{
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [".css$", "^react", "^@", "^[../]", "^[./]"],
  "importOrderSortSpecifiers": true
}
