.ptdetail__tags-container {
  flex-grow: 1;
  padding: 0rem 1rem;

  display: flex;
  flex-direction: column;

  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ptdetail__tags-container::-webkit-scrollbar {
  display: none;
}

.ptdetail__tags-title {
  padding-bottom: 0.6rem;

  font-size: var(--fontsize-semi-large);
}

.ptdetail__tags-list {
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;
  font-size: var(--fontsize-medium);
  font-weight: var(--fontweight-semi-bold);

  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ptdetail__tags-list::-webkit-scrollbar {
  display: none;
}

.ptdetail__tag {
  height: 100%;
  padding: 0 1rem;
  margin-right: 1rem;

  display: flex;
  align-items: center;

  background-color: var(--color-green);
  border-radius: 20rem;

  white-space: nowrap;
}
