.outlet__ptlist {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--color-sub-alt);
  border-radius: var(--radius-semi-large);
}

.ptlist__banner {
  width: 100%;
}

.ptlist__list-container {
  width: 100%;
  flex-grow: 1;
  padding-top: 4rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ptlist__list-container::-webkit-scrollbar {
  display: none;
}
