.Editor__tag-box {
  width: 100%;
  height: 2.8rem;

  display: flex;

  margin-bottom: 1rem;

  /* overflow-x: scroll; */
  user-select: none;
}

.tags__title {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1rem;
  border-radius: var(--radius-small);

  font-size: var(--fontsize-semi-large);
  font-weight: 1000;
}

.tags__item,
.tags__item-checked {
  height: 100%;

  display: flex;

  margin-right: 1rem;
  border-radius: var(--radius-small);
  background-color: var(--color-semi-white);

  font-size: var(--fontsize-medium);
  user-select: none;
  transition: all 0.3s;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.tags__item:hover,
.tags__item-checked:hover {
  transform: scale(1.2);
}

.tags__label {
  height: 100%;

  display: flex;
  align-items: center;

  padding: 0 0.6rem;
  border-radius: var(--radius-small);

  cursor: pointer;
}

.tags__item-checked {
  background-color: var(--color-green);
}

.tags__input {
  display: none;
}
