.editor {
  width: 90%;
  height: 90%;
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-semi-large);

  display: flex;
  flex-direction: column;

  position: relative;
  top: 4rem;
  left: 4rem;
}

.editor__top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.editor__submitbutton {
  height: 3.2rem;

  padding: 0 1.2rem;

  display: flex;
  align-items: center;

  border-radius: var(--radius-medium);
  font-size: var(--fontsize-semi-large);
  background-color: var(--color-green);

  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.editor__submitbutton:hover {
  transform: scale(1.1);
  background-color: var(--color-dark-green);
}
