.menubar__item-layout {
  width: 21rem;
  height: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s;
  will-change: opacity;

  cursor: pointer;
  user-select: none;
}

.menubar__item-layout:hover .menubar__item-container {
  opacity: var(--opacity-medium);
}

.menubar__item-container {
  width: 100%;
  height: 4rem;

  display: flex;
  align-items: center;

  box-shadow: var(--shadow-small);
  border-radius: var(--radius-small);
  background-color: var(--color-white);
}

.menubar__decoration-line {
  height: 0.5rem;
  margin-top: 0.2rem;

  border-radius: 2px;
  background-color: var(--color-red);

  transition: all 0.3s;
}

.menubar__icon-container {
  width: 4rem;
  height: 4rem;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-white);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-all);
}

.menubar__icon {
  font-size: 3.2rem;
}

.menubar__listCount {
  width: 1.6rem;
  height: 1.6rem;

  position: absolute;
  top: 2px;
  right: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-yellow);
  box-shadow: var(--shadow-basic);
  border-radius: 50%;

  font-size: 1.4rem;
}

.menubar__title-container {
  width: 75%;
  height: 4rem;

  display: flex;
  align-items: center;

  font-size: 1.8rem;
  font-weight: var(--fontweight-medium);
}

.menubar__title {
  margin-left: 1.4rem;

  line-height: 1.2;
}
