.edit__subpage {
  width: fit-content;

  position: absolute;
  bottom: 5rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.subpage__optionbox,
.subpage__optionbox-toggle {
  background-color: var(--color-semi-grey);
  border-radius: 8px;
  margin-bottom: 1rem;
  user-select: none;
  display: none;
}
.subpage__togglebutton {
  width: 8rem;
  height: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  background-color: var(--color-light-red);

  font-size: var(--fontsize-medium);
  font-weight: 1000;
  border: 1px solid red;
  cursor: pointer;
  transition: all 0.3s;
}

.subpage__togglebutton:hover {
  background-color: var(--color-red);
}

.subpage__optionbox-toggle {
  display: block;
}
