.edit__subpage {
  width: fit-content;

  position: absolute;
  bottom: 5rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.subpage__optionbox,
.subpage__optionbox-toggle {
  background-color: var(--color-semi-grey);
  border-radius: var(--radius-medium);
  margin-bottom: 1rem;
  user-select: none;
  display: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}
.subpage__togglebutton {
  width: 8rem;
  height: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-medium);
  background-color: var(--color-light-red);

  font-size: var(--fontsize-medium);
  font-weight: 1000;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.subpage__togglebutton:hover {
  transform: scale(1.1);
}

.subpage__optionbox-toggle {
  display: block;
}
