.Editor__tags {
  flex-grow: 1;
  flex-shrink: 0;
  height: 2.8rem;

  display: flex;

  user-select: none;
}

.tags__title {
  flex-shrink: 0;
  height: 100%;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-small);

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-semi-bold);
  color: var(--color-white);
}

.tags__item,
.tags__item-checked {
  flex-shrink: 0;
  height: 100%;
  margin-right: 1rem;

  display: flex;

  border-radius: var(--radius-small);
  background-color: var(--color-semi-white);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);

  font-size: var(--fontsize-medium);
  font-weight: var(--fontweight-medium);

  user-select: none;
  transition: all 0.3s;
  will-change: transform;
}

.tags__item:hover,
.tags__item-checked:hover {
  transform: scale(1.2);
}

.tags__label {
  flex-shrink: 0;
  flex-grow: 1;
  height: 100%;
  padding: 0 0.6rem;

  display: flex;
  align-items: center;

  border-radius: var(--radius-small);

  cursor: pointer;
}

.tags__item-checked {
  background-color: var(--color-yellow);
}

.tags__input {
  display: none;
}
