/* below - 1000px */

@media (max-width: 1000px) {
  .outlet__layout {
    animation-name: outletLayout1000px__below;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .aside {
    animation-name: outAsideBarAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes outletLayout1000px__below {
  0% {
    position: absolute;
    top: 0px;
    left: var(--layout-width-AsideBar);
    right: 0px;
    bottom: 0px;
  }

  90% {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
  }

  100% {
    position: none;
  }
}

@keyframes outAsideBarAnimation {
  0% {
    left: 0px;
  }

  90% {
    left: -300px;
  }

  100% {
    left: -300px;
    display: none;
    position: absolute;
  }
}

/* more - 1000px */

@media (min-width: 1000px) {
  .outlet__layout {
    animation-name: outletLayout1000px__more;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .aside {
    animation-name: inAsideBarAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes inAsideBarAnimation {
  0% {
    left: -300px;
  }

  100% {
    left: 0px;
  }
}

@keyframes outletLayout1000px__more {
  0% {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  99% {
    top: 0px;
    left: var(--layout-width-AsideBar);
    right: 0px;
    bottom: 0px;
    position: absolute;
  }

  100% {
    position: none;
  }
}
