/* below - 400 */

/* Post List Item */
@media (max-width: 400px) {
  .ptlist__ptitem {
    height: fit-content;
    min-height: 22rem;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ptitem__thumbnail-container {
    width: 20rem;
    min-width: 20rem;
    height: 15rem;
    min-height: 15rem;

    margin-right: 0rem;
  }

  .ptitem__thumbnail {
    width: 20rem;
    min-width: 20rem;
    height: 15rem;
    min-height: 15rem;
  }

  .ptitem__info-container {
    width: 100%;
    height: 4rem;
  }

  .ptitem__title {
    margin-bottom: 0;
  }

  .ptitem__category,
  .ptitem__tags {
    display: none;
  }

  .ptbanner__advice-container {
    border-radius: 0;
  }
}
