.nav__profile {
  width: 22rem;
  height: 22rem;
  margin-top: 1.4rem;
  padding: 1rem;

  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-medium);
  background-color: var(--color-black);
  background: linear-gradient(135deg, #aab2bd 24%, var(--color-semi-black));

  box-shadow: var(--shadow-all);
  user-select: none;
}

.profile__header {
  width: 100%;
  height: 100%;

  display: flex;
}

.profile__thumbnail-container {
  width: 14rem;
  height: 14rem;

  border-radius: var(--radius-medium);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.profile__thumbnail {
  width: 14rem;
  height: 14rem;

  border-radius: var(--radius-medium);
  object-fit: contain;
}

.profile__actions {
  height: 14rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile__title-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.profile__title {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;

  background: linear-gradient(
    to right,
    var(--color-green),
    var(--color-yellow),
    var(--color-red)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 0.9;
  transition: all 0.3s;
}

.profile__title:hover {
  transform: scale(1.1);
}
