.profile__btn__outbox {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 2.4rem;
}

.profile__btn-box {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.profile__btn-emoji {
  width: 4rem;
  height: 4rem;
}

.search-btn {
  color: var(--color-red);
}
.write-btn {
  color: var(--color-yellow);
}
.home-btn {
  color: var(--color-green);
}
