.post__banner {
  width: 100%;

  user-select: none;

  overflow: hidden;
}

.ptbanner__container {
  width: 100%;
  height: 28rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-semi-white);
}

.ptbanner__advice-container {
  width: 80%;
  height: 65%;
  min-width: 40rem;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: var(--fontsize-semi-large);

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: var(--radius-semi-large);
}

.ptbanner__advice {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 2rem;
  font-size: var(--fontsize-large);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Nova Square", sans-serif;
}

.ptbanner__author {
  width: 100%;
  height: 30%;

  text-align: end;
  font-size: var(--fontsize-semi-large);
  font-family: "Nova Square", sans-serif;
}
