.ptbanner__decoration {
  height: 2.8rem;
  min-height: 2.8rem;

  display: flex;
  align-items: center;

  background-color: var(--color-semi-white);
  border-top-right-radius: var(--radius-semi-large);
  border-top-left-radius: var(--radius-semi-large);
}

.ptdecoration__button {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  box-shadow: var(--shadow-small);
  cursor: pointer;
}

.ptdecoration__button .material-symbols-outlined {
  opacity: 0;
  font-size: 1rem;
  transition: opacity 0.3s;
}

.ptbanner__decoration:hover .material-symbols-outlined {
  opacity: 1;
}

.pt-close {
  background-color: var(--color-light-red);
}

.pt-minimize {
  background-color: var(--color-yellow);
}

.pt-maximize {
  background-color: var(--color-green);
  transform: rotate(90deg);
}
