.edit__sub {
  width: fit-content;

  position: absolute;
  bottom: 5rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.sub__actions,
.sub__actions-toggle {
  margin-bottom: 1rem;

  display: none;

  background-color: var(--color-semi-grey);
  border-radius: var(--radius-medium);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);

  user-select: none;
}
.sub__button {
  width: 8rem;
  height: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: var(--radius-medium);
  background-color: var(--color-light-red);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);

  font-size: var(--fontsize-medium);
  font-weight: var(--fontweight-semi-bold);
  cursor: pointer;
  transition: all 0.3s;
}

.sub__button:hover {
  transform: scale(1.1);
}

.sub__actions-toggle {
  display: block;
}
