.aside__footer-link {
  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: var(--shadow-basic);

  transition: opacity 0.3s;
}

.aside__footer-link:hover {
  opacity: var(--opacity-medium);
}

.aside__footer-link svg {
  font-size: 3.2rem;
  color: var(--color-text);
}
