.profile__action-container {
  width: 3.4rem;
  height: 3.4rem;

  position: relative;

  border-radius: var(--radius-medium);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);

  transition: opacity 0.3s;
  will-change: opacity;
}

.profile__action-container:hover {
  opacity: var(--opacity-medium);
}

.profile__action {
  width: 3.4rem;
  height: 3.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--radius-medium);
}

.profile__action .material-symbols-outlined {
  font-size: 2.4rem;
  font-weight: 900;

  color: var(--color-black);

  border: none;
}

.search-action {
  background-color: var(--color-yellow);
}

.write-action {
  background-color: var(--color-light-red);
}

.home-action {
  background-color: var(--color-green);
}

.home-profile-btn {
  padding-top: 4px;
}
