.outlet__post {
  flex-grow: 1;
  height: 100%;
  padding: 3rem;
}

.post__container {
  width: 100%;
  max-width: 120rem;
  height: 100%;

  background-color: var(--color-white);
  border-radius: var(--radius-semi-large);
  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.post__container::-webkit-scrollbar {
  display: none;
}
