.outlet__post {
  width: 100%;
  height: 100%;
  padding: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s;
  z-index: var(--z-index-outlet-post);
}

.post__container {
  width: 100%;
  max-width: 120rem;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--color-semi-white);
  border-radius: var(--radius-semi-large);
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5);

  z-index: var(--z-index-post__container);
  opacity: 0;

  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
