.ptdetail__time-container {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;

  font-size: var(--fontsize-medium);
  border: 1px solid;
}

.ptdetail__time-title {
  padding-bottom: 0.4rem;

  font-size: var(--fontsize-medium);
}

.ptdetail__time {
  height: 2rem;

  display: flex;
  align-items: center;
}
