.editor__layout {
  flex-grow: 1;
  height: 100%;
  margin: 0rem 1rem;

  border-radius: var(--radius-semi-large);
  overflow-y: scroll;
}

.editor__quill {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: column;

  background-color: var(--color-semi-white);
  border-radius: var(--radius-semi-large);
}

.ql-toolbar {
  width: 100%;
  height: fit-content;
}

.ql-container {
  width: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;

  border-radius: var(--radius-semi-large);

  overflow-y: hidden;
}
