.editor__quill {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: column;

  background-color: var(--color-semi-white);
}

.ql-toolbar {
  width: 100%;
  height: fit-content;
}

.ql-container {
  width: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;

  overflow-y: hidden;
}
