.aside__footer {
  width: 24rem;
  height: 8rem;

  display: flex;
  justify-content: center;

  gap: 1.6rem;
}

@media (max-height: 650px) {
  .aside__footer {
    display: none;
  }

  .aside_layout {
    height: 100%;
  }
}
