.menubar__item {
  width: 100%;
  height: 4rem;
  margin-top: 1rem;

  display: flex;
  align-items: center;

  box-shadow: var(--shadow-all);
  border-radius: var(--radius-small);
  background-color: var(--color-sub-alt);

  transition: all 0.3s;
  will-change: transform;
  cursor: pointer;
  user-select: none;
}
.menubar__item:hover {
  transform: scale(1.1);
}

.menubar__icon-container {
  width: 4rem;
  height: 4rem;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-point);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-all);
}

.menubar__icon {
  font-size: 3.2rem;
}

.menubar__listCount {
  width: 1.6rem;
  height: 1.6rem;

  position: absolute;
  top: 2px;
  right: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-point-alt);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50%;

  line-height: 120%;
  font-size: 1.4rem;
}

.menubar__title-container {
  width: 75%;
  height: 4rem;

  display: flex;
  align-items: center;

  font-size: var(--fontsize-large);
  font-weight: var(--fontweight-medium);
  color: var(--color-point);
}

.menubar__title {
  margin-left: 1.4rem;

  line-height: 1.2;
}
