.Editor__thumbnail {
  flex-grow: 1;
  flex-shrink: 0;

  margin-bottom: 1rem;

  display: flex;
  align-items: center;

  user-select: none;
}

.thumbnail__title {
  padding: 0.6rem 1rem;
  margin: 0rem 1rem;

  background-color: var(--color-point);
  border-radius: var(--radius-medium);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-semi-bold);
  white-space: nowrap;

  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnail__title:hover {
  transform: scale(1.1);
}

.thumbnail__info {
  width: 40rem;
  height: 100%;
  padding: 0rem 1rem;

  display: flex;
  align-items: center;

  background-color: var(--color-sub-alt);
  border-radius: var(--radius-medium);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-semi-bold);
  color: var(--color-white);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
