.Editor__thumbnail {
  flex-grow: 1;
  flex-shrink: 0;

  margin-bottom: 1rem;

  display: flex;
  align-items: center;

  user-select: none;
}

.thumbnail__title {
  padding: 0.6rem 1rem;
  margin: 0rem 1rem;

  background-color: var(--color-green);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-small);

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-semi-bold);
  white-space: nowrap;

  cursor: pointer;
  transition: opacity 0.3s;
}

.thumbnail__title:hover {
  opacity: var(--opacity-medium);
}

.thumbnail__info {
  width: 40rem;
  height: 100%;
  padding: 0rem 1rem;

  display: flex;
  align-items: center;

  background-color: var(--color-semi-white);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-small);

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-semi-bold);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
