.Editor__title {
  flex-shrink: 0;
  padding: 0.6rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;

  border-radius: var(--radius-medium);
  background-color: var(--color-semi-grey);
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
}

.title__text {
  margin-left: 0.4rem;
  flex-grow: 1;

  background-color: var(--color-semi-grey);

  font-size: var(--fontsize-large);
  font-weight: var(--fontweight-semi-bold);
  text-overflow: ellipsis;

  overflow: scroll;
}
