.Editor__title {
  flex-shrink: 0;
  padding: 0.6rem;

  display: flex;
  align-items: center;

  border-radius: var(--radius-medium);
  background-color: var(--color-semi-white);
  box-shadow: var(--shadow-small);
}

.title__text {
  margin-left: 0.4rem;
  flex-grow: 1;

  background-color: transparent;

  font-size: var(--fontsize-large);
  font-weight: var(--fontweight-semi-bold);
  text-overflow: ellipsis;

  overflow: scroll;
}

.title__text::placeholder {
  opacity: 0.4;
}
