.sub__insert {
  width: 12rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.insert__title {
  margin-bottom: 1rem;

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-bold);
}

.insert__button {
  padding: 0.4rem 0;

  background-color: var(--color-yellow);
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-basic);

  font-size: var(--fontsize-medium);
  font-weight: var(--fontweight-semi-bold);

  transition: opacity 0.3s;
  will-change: opacity;
  cursor: pointer;
}

.insert__button:hover {
  opacity: var(--opacity-medium);
}
