.aside {
  flex-shrink: 0;
  width: 24rem;
  height: 100vh;

  display: flex;
  align-items: flex-end;

  position: relative;

  background-color: var(--color-yellow);
  box-shadow: var(--shadow-basic);

  z-index: var(--z-index-aside);
}

.aside_layout {
  width: 22rem;
  height: calc(100% - 8rem);

  display: flex;
  flex-direction: column;

  position: absolute;
  left: 4rem;
  top: 0rem;

  animation-name: fadeIn;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
