.ptdetail__time-container {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.ptdetail__time-title {
  padding-bottom: 0.6rem;

  font-size: var(--fontsize-semi-large);
}

.ptdetail__time {
  height: 3rem;

  display: flex;
  align-items: center;

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-semi-bold);
}
