.nav__menubar {
  min-height: fit-content;
  padding: 1.4rem;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  position: fixed;
  top: 8rem;
  right: 0;

  background-color: var(--color-main);
  border-radius: var(--radius-semi-large);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);

  z-index: var(--z-index-nav-menubar);
}

.Active__NavMenu {
  animation-name: ActiveMenubar;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.unActive__NavMenu {
  animation-name: unActiveMenubar;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes unActiveMenubar {
  from {
    transform: translateX(0rem);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes ActiveMenubar {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}
