html {
  font-size: 62.5%;
  background-color: var(--color-semi-white);
}

li {
  list-style: none;
}
input[type="text"] {
  outline: none;
  border: none;
}
button {
  border: none;
}
a {
  outline: none;
  text-decoration: none;
}
a:visited {
  border: none;
}

html,
body,
main,
h1,
a,
nav,
input,
label,
button,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
svg,
img,
div,
p,
section {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

:root {
  /* color */
  --color-black: #323133;
  --color-semi-black: #434a54;
  --color-red: #da4453;
  --color-light-red: #ed5565;
  --color-yellow: #ffce54;
  --color-green: #a0d468;
  --color-dark-green: #8cc152;
  --color-semi-white: #e6e9ed;
  --color-white: #fff;
  --color-semi-grey: #ccd1d9;
  --color-dark-grey: #656d78;

  /* shdow */
  --shadow-all: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);

  /* radius */
  --radius-semi-large: 12px;
  --radius-medium: 8px;
  --radius-small: 4px;

  /* font - size */
  --fontsize-big: 2.4rem;
  --fontsize-large: 2rem;
  --fontsize-semi-large: 1.6rem;
  --fontsize-medium: 1.4rem;

  /* font - weight */
  --fontweight-border: 900;
  --fontweight-semi-bolder: 800;
  --fontweight-bold: 700;
  --fontweight-semi-bold: 600;
  --fontweight-medium: 400;
}
