.Root {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

#root {
  height: 100vh;
  width: 100vw;

  position: relative;
}

.outlet__layout {
  flex-grow: 1;
  height: 100%;

  position: relative;

  overflow: hidden;
  z-index: 0;
}
