.ptdetail__auth-layout {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}

.ptdetail__auth-button {
  width: 10rem;
  height: 3.2rem;

  background-color: var(--color-yellow);
  border-radius: 20rem;
  box-shadow: var(--shadow-small);

  font-size: var(--fontsize-semi-large);
  font-weight: var(--fontweight-bold);

  transition: opacity 0.3s;
}

.ptdetail__auth-button:hover {
  opacity: var(--opacity-medium);
}
